# You can copy and paste this template into a new `.gitlab-ci.yml` file.
# You should not add this template to an existing `.gitlab-ci.yml` file by using the `include:` keyword.
#
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Bash.gitlab-ci.yml

# See https://docs.gitlab.com/ee/ci/yaml/index.html for all available options

# you can delete this line if you're not using Docker
workflow:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
    - when: never

stages:
  - build
  - test
variables:
  CONTAINER_TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  GOTEST: "go test ./... -v"
# services:
#      - docker:dind
before_script:
     - ls -ld /builds/NGWPC/flows2fim
     - apk update
     - apk add sudo
     - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

.default_job_template: &default_job_template
     image: docker:latest

  
build:
  stage: build
  script:
        - docker build --pull -t $CONTAINER_TEST_IMAGE .
        - docker push $CONTAINER_TEST_IMAGE
        - ls -la $CI_PROJECT_DIR
  <<: *default_job_template
  artifacts:
     paths:
        - $CI_PROJECT_DIR

test:
  stage: test
  script:
        - pwd
        - echo "Run flows2fim unit tests"
        - echo "$CI_PROJECT_DIR"
        - chmod -R 755 /builds/NGWPC/flows2fim
        - ls -la $CI_PROJECT_DIR
        - ls -la /builds/NGWPC/flows2fim      
        - sudo docker run -i --rm --name flows2fim_test -v $(pwd):/app/test -w /app $CONTAINER_TEST_IMAGE sh -c "ls -ld /app && pwd && cd /app/test/flows2fim && pwd && ls -la /app/test/flows2fim"
  #     - docker run --rm -v $(pwd):/app $CONTAINER_TEST_IMAGE /bin/bash -c "cd /app && $GOTEST"
        # - docker run -i --rm --workdir /app --name flows2fim_test $CONTAINER_TEST_IMAGE $GOTEST
        # - docker run -i --rm --name flows2fim_test --mount type=bind,source=/builds/NGWPC/flows2fim/,target=/flows2fim -w /flows2fim $CONTAINER_TEST_IMAGE sh -c "pwd && ls && cd flows2fim && ls"

  <<: *default_job_template

